source-path=SCRIPTDIR
source-path=SCRIPTDIR/../src

external-sources=true

# enable optional checks
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-unassigned-uppercase
enable=deprecate-which
enable=quote-safe-variables
enable=require-variable-braces
